* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #f9f9f9;
  font-family: "montserrat", sans-serif;
}

nav {
  height: 95px;
  background-color: white;
  color: black;
  padding: 5px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 3;
  width: 100%;
  position: relative;
}

.logo {
  margin-left: 0.5rem;
  cursor: pointer;
  width: fit-content;
}

.menu {
  position: absolute;
  right: 10px;
  top: 1.5rem;
  font-family: "space mono", monospace;
}

ul {
  margin-top: 5.5px;
}

nav ul li a {
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 32px 20px 35px 20px;
}

ul li .active {
  background-color: #d01f43;
  color: white;
  transition: 0.5s;
}

ul li a:hover {
  background-color: #de5772;
  color: white;
  transition: 0.5s;
}

.hamburger {
  background-color: transparent;
  font-size: 20px;
  color: #d01f43;
  border: 0;
  cursor: pointer;
  display: none;
}

.hamburger:focus {
  outline: none;
}

.hero-banner {
  height: 70%;
  width: 100%;
  background-image: url(/img/pic1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
}

footer {
  display: grid;
  grid-template-areas: "footer_list1 footer_list2 footer_list3 footer_icons";
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  height: 150px;
  align-items: center;
  justify-content: space-evenly;
}

h5 {
  margin-bottom: 5px;
  font-size: 20px;
  font-family: "space mono", monospace;
}

.footer_list1,
.footer_list2,
.footer_list3 {
  font-size: 14px;
  cursor: pointer;
}

footer .fa-instagram,
.fa-twitter,
.fa-facebook-f {
  font-size: 40px;
  margin-left: 25px;
  color: #d01f43;
  cursor: pointer;
}

@media (max-width: 991px) /*Tablet*/ {
  .hamburger {
    position: absolute;
    right: 1rem;
    top: 2rem;
    display: block;
  }

  .menu {
    display: none;
    top: 5.3rem;
    width: 100%;
    height: 246.5px;
    background: white;
    right: 0;
    text-align: center;
    transition: all 0.5s;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
  }

  .menu.togglecls {
    display: block;
  }

  ul {
    height: 100%;
  }

  li {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  nav ul li a {
    color: black;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 0px 12px 0px;
  }

  ul li .active {
    transition: 0s;
  }

  .hero-banner {
    height: unset;
    padding-top: 45%;
    width: 100%;
    background-image: url(/img/pic1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 767px) /*Mobile*/ {
  .hamburger {
    position: absolute;
    right: 1rem;
    top: 2rem;
    display: block;
  }

  .menu {
    display: none;
    top: 5.3rem;
    width: 100%;
    height: 187px;
    background: white;
    right: 0;
    text-align: center;
    transition: all 0.5s;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
  }

  .menu.togglecls {
    display: block;
  }

  ul {
    height: 100%;
  }

  li {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  nav ul li a {
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 0px 10px 0px;
  }

  .hero-banner {
    height: unset;
    padding-top: 48%;
    width: 100%;
    background-image: url(/img/pic1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  }

  h2,
  h1 {
    text-align: center;
  }

  footer {
    display: grid;
    grid-template-areas:
      "footer_list1 footer_list2"
      "footer_list3 footer_icons";
    height: 250px;
    align-items: center;
    justify-content: space-evenly;
  }
}
