* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #f9f9f9;
  font-family: "montserrat", sans-serif;
}

nav {
  height: 75px;
  background-color: white;
  color: black;
  padding: 5px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 3;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.logo {
  margin-left: 0.5rem;
  cursor: pointer;
  width: fit-content;
}

.search {
  margin-top: 1.2rem;
  margin-left: 7rem;
  width: 100%;
}

#bar {
  width: 40%;
  height: 1.8rem;
  padding: 5px;
  background-color: #f9f9f9;
  border: none;
  outline: none;
}

.search i {
  height: 1.8rem;
  padding: 5px;
  color: white;
  background-color: #d01f43;
  cursor: pointer;
}

.menu {
  position: absolute;
  right: 10px;
  top: 1.5rem;
  font-family: "space mono", monospace;
}

nav ul li a {
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 24px 20px 21px 20px;
}

ul li .active {
  background-color: #d01f43;
  color: white;
  transition: 0.5s;
}

ul li a:hover {
  background-color: #de5772;
  color: white;
  transition: 0.5s;
}

.hamburger {
  background-color: transparent;
  font-size: 20px;
  color: #d01f43;
  border: 0;
  cursor: pointer;
  display: none;
}

.hamburger:focus {
  outline: none;
}

.alert {
  width: 100%;
}

.danger {
  background-color: rgb(255 124 124);
  color: red;
  border: solid 1px red;
  padding: 10px;
  transition: 2s;
}

main {
  margin: auto;
  width: 80%;
}

.box {
  margin-top: 3rem;
  background-color: white;
  height: 26rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  row-gap: 1rem;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  font-size: 0.9rem;
  text-align: center;
}

.items-1 {
  display: flex;
}

.items-2 {
  display: flex;
  column-gap: 0.5rem;
}

.btn-1 {
  height: 5rem;
  width: 22rem;
  font-size: 1.8rem;
  background-color: #d01f43;
  color: white;
  border-style: none;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  font-weight: bolder;
}

.hide {
  display: none;
}

.btn-2 {
  height: 5rem;
  width: 22rem;
  font-size: 1.8rem;
  background-color: #efefef;
  color: #d01f43;
  border-style: none;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  font-weight: bolder;
}

.items-2 button {
  height: 4rem;
  width: 5rem;
  font-size: 1rem;
  background-color: #efefef;
  color: #d01f43;
  border-style: none;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  font-weight: bolder;
}

.items-2 input {
  height: 4rem;
  width: 25rem;
  margin-left: 2.3rem;
  padding-left: 10px;
  background-color: #efefef;
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-weight: bold;
}
.items-3 button {
  margin-top: 4rem;
  height: 3.5rem;
  width: 11rem;
  margin-left: 2.3rem;
  font-size: 1.2rem;
  background-color: #d01f43;
  color: white;
  border-style: none;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.items-3 button:hover {
  background-color: #fe365f;
}

footer {
  margin-top: 3rem;
  display: grid;
  grid-template-areas: "footer_list1 footer_list2 footer_list3 footer_icons";
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  height: 150px;
  align-items: center;
  justify-content: space-evenly;
}

h5 {
  margin-bottom: 5px;
  font-size: 20px;
  font-family: "space mono", monospace;
}

.footer_list1,
.footer_list2,
.footer_list3 {
  font-size: 14px;
  cursor: pointer;
}

footer .fa-instagram,
.fa-twitter,
.fa-facebook-f {
  font-size: 40px;
  margin-left: 25px;
  color: #d01f43;
  cursor: pointer;
}

@media (max-width: 991px) /*Tablet*/ {
  .hamburger {
    position: absolute;
    right: 1rem;
    top: 1.6rem;
    display: block;
    font-size: 1.6rem;
  }

  .search {
    margin-top: 1.3rem;
    margin-left: 5rem;
    width: 100%;
  }

  #bar {
    width: 70%;
    height: 1.8rem;
    padding: 5px;
    background-color: #f9f9f9;
    border: none;
    outline: none;
  }

  .menu {
    display: none;
    top: 5.3rem;
    width: 100%;
    height: 246.5px;
    background: white;
    right: 0;
    text-align: center;
    transition: all 0.5s;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
  }

  .menu.togglecls {
    display: block;
  }

  ul {
    height: 100%;
  }

  li {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  nav ul li a {
    color: black;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 0px 12px 0px;
  }

  ul li .active {
    transition: 0s;
  }

  .hero-banner {
    height: unset;
    padding-top: 45%;
    width: 100%;
    background-image: url(/img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 767px) /*Mobile*/ {
  .hamburger {
    position: absolute;
    right: 1rem;
    top: 1.55rem;
    display: block;
    font-size: 1.75rem;
  }

  .menu {
    display: none;
    top: 5.3rem;
    width: 100%;
    height: 187px;
    background: white;
    right: 0;
    text-align: center;
    transition: all 0.5s;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
  }

  .menu.togglecls {
    display: block;
  }

  .search {
    margin-top: 1.3rem;
    margin-left: 1.5rem;
    width: 100%;
  }

  #bar {
    width: 50%;
    height: 1.8rem;
    padding: 5px;
    background-color: #f9f9f9;
    border: none;
    outline: none;
  }

  ul {
    height: 100%;
  }

  li {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  nav ul li a {
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 0px 10px 0px;
  }

  .hero-banner {
    height: unset;
    padding-top: 48%;
    width: 100%;
    background-image: url(/img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  }

  h2,
  h1 {
    text-align: center;
  }

  footer {
    display: grid;
    grid-template-areas:
      "footer_list1 footer_list2"
      "footer_list3 footer_icons";
    height: 250px;
    align-items: center;
    justify-content: space-evenly;
  }
}
